################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net6.0
/.vs
./.vs
/obj
/Database/TFU_Gym/obj/Debug
/App.BLL/obj
/App.DAL/bin/Debug/net6.0
/App.DAL/obj
/App.Entity/bin/Debug/net6.0
/App.Entity/obj
/App.Utility/bin/Debug/net6.0
/App.Utility/obj
/Database/TFU_Gym/bin/Debug
/App.BLL/bin/Debug/net6.0
/Logs
/Database/TFU_Gym/TFU_Gym.jfm
/Database/TFU_Gym/TFU_Gym.dbmdl
/App.Utility/LazopSdk/obj/Debug/netcoreapp2.1
/App.Utility/LazopSdk/obj/Release/netcoreapp2.1
/App.BLL/bin/Release/net6.0
/App.DAL/bin/Release/net6.0
/App.Entity/bin/Release/net6.0
/App.Utility/bin/Release/net6.0
/bin/Release/net6.0
/Properties/PublishProfiles
/.config
/Resources/privacypolicy_files
/Resources/privacypolicy.html
